* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.12px;
}

body {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

